# Activar RewriteEngine
RewriteEngine on

#RewriteCond %{SERVER_PORT} 80

#RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME}.php -f

#   Reescribir la URL solicitada por el usuario

#   Home
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]