.app-sidebar__user-avatar{
	width: 48px;
	background-color: grey;
	padding: 5px;
}

.headerRegister{
	background-color: #17a2b8;
	color: #fafbfd;
}
.headerUpdate, .header-view{
	background-color: #0565DF;
	color: #fafbfd;
	
}

.headerTest{
	background-color: yellow;
	color: #000;
}

.required{
	color: red;
	font-size: 13pt;
	font-weight: bold;
}

#divLoading{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	background: rgb(254,254,255,.65);
	z-index: 99999;              
}

#divLoading img{
	width: 50px;
	height: 50px;
}

.bootstrap-select>.dropdown-toggle {
	border: 1px solid #CCC;
}


/* ......::::::::::::::::: Estilo de categorias :::::::::::::::::::::::::::::::::... */


.prevPhoto {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 200px;
    border: 1px solid #CCC;
    position: relative;
    cursor: pointer;
    background: url(../image/uploads/portada_categoria.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: auto;
}
.prevPhoto label{
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.prevPhoto img{
	width: 100%;
	height: 100%;
}
.upimg, .notBlock{
	display: none !important;
}

.textcenter{
	text-align: center;
}
.errorArchivo{
	font-size: 16px;
	font-family: arial;
	color: #cc0000;
	text-align: center;
	font-weight: bold; 
	margin-top: 10px;
}
.delPhoto{
	color: #FFF;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background: red;
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: 10;
}
#tbl_list_productos img{
	width: 50px;
}
.imgProductoDelete{
	width: 175px;
}


#PortadaCat{
	text-align: center;
}

#PortadaCat img {
	width: 200px;
	margin: auto;
}

/*--------------------------------------------------------*/

/* ESTILO CARGA DE PRODUCTOS */

#containerImages{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

#containerImages > div {
	margin-right: 10px;
	margin-bottom: 8px;
}

.prevImage{
	border: 1px solid #000;
	width: 120px;
	height: 148px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.prevImage img{
	width: 100%;

}

.inputUploadFile{
	display: none;
}

.btnUploadFile, .btnDeleteImage{
	border: 0;
	background-color: #009688;
	text-align: center;
	padding: 2px 3px;
	color: #FFF;
	font-size: 9pt;
	cursor: pointer;
	width: 100%;
}

.btnDeleteImage{
	background-color: #dc3545;
}

.prevImage .loading{
	width: 60px;
	height: 60px;
}

#fileFotoReferencia img{
	width: 150px;
	margin: 10px;
}